In [1]:
import pandas as pd

In [2]:
avocado_agg = pd.DataFrame({'type' : ['conventional', 'organic'],
                            'AvgPrice_2015' : [1.077963, 1.673324],
                            'AvgPrice_2016' : [1.105595, 1.571684],
                            'AvgPrice_2017' : [1.294888, 1.735521],
                            'AvgPrice_2018' : [1.127886, 1.567176],
                            })
avocado_agg

           type  AvgPrice_2015  AvgPrice_2016  AvgPrice_2017  AvgPrice_2018
0  conventional       1.077963       1.105595       1.294888       1.127886
1       organic       1.673324       1.571684       1.735521       1.567176

In [5]:
long_avacado_agg = pd.wide_to_long(avocado_agg, 'AvgPrice', i='type', j='year', sep='_')

In [6]:
long_avacado_agg

                   AvgPrice
type         year
conventional 2015  1.077963
organic      2015  1.673324
conventional 2016  1.105595
organic      2016  1.571684
conventional 2017  1.294888
organic      2017  1.735521
conventional 2018  1.127886
organic      2018  1.567176