In [61]:
import pandas as pd

In [256]:
df = pd.read_csv('KC_case_dataÂ .csv')

In [143]:
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads

In [144]:
df['date'] = pd.to_datetime(df['date'])

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747968 entries, 0 to 2747967
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   event         object
 2   purchase_sum  float64
 3   os_name       object
 4   device_id     int64
 5   gender        object
 6   city          object
 7   utm_source    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 167.7+ MB

In [146]:
mau = df.groupby(pd.Grouper(key='date', freq='M'))['device_id'].nunique()

In [147]:
mau

date
2020-01-31    99161
2020-02-29    75032
2020-03-31    74623
Freq: M, Name: device_id, dtype: int64

In [187]:
app_install = df[df.event == 'app_install'].groupby('device_id')["date"]

In [188]:
purchase = df[df.event == 'purchase'].groupby('device_id')["date"]

In [193]:
app_install = df[df['event'] == 'app_install'].groupby('device_id',as_index=False)['date']
purchase = df[df['event'] == 'purchase'].groupby('device_id',as_index=False)['date']
cr = app_install.join(purchase, lsuffix='_install', rsuffix='_purchase')
cr['cr'] = (cr['date_purchase'] - cr['date_install']) < pd.Timedelta(days=7)

AttributeError: 'DataFrameGroupBy' object has no attribute 'join'

In [172]:
purchase.event / app_install.event

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
86   NaN
87   NaN
88   NaN
89   NaN
90   NaN
Name: event, Length: 91, dtype: float64

In [124]:
df['purchase_date'] = df[df['event'] == 'purchase']['date']

In [133]:
df

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,install_date,purchase_date
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-,NaT,NaT
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads,NaT,NaT
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal,NaT,NaT
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads,NaT,NaT
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
2747963,2020-03-31,register,NaN,android,2984778,male,Saint-Petersburg,facebook_ads,NaT,NaT
2747964,2020-03-31,register,NaN,ios,27301864,male,Moscow,-,NaT,NaT
2747965,2020-03-31,register,NaN,ios,1294285,female,Saint-Petersburg,google_ads,NaT,NaT
2747966,2020-03-31,register,NaN,android,3010574,female,Saint-Petersburg,google_ads,NaT,NaT
2747967,2020-03-31,register,NaN,android,11153353,female,Saint-Petersburg,-,NaT,NaT

In [136]:
result = df.groupby('device_id').apply(lambda x: (x['purchase_date'] - x['install_date'] < pd.Timedelta(days=7)).any())

In [141]:
result.sum()

0

In [91]:
df.groupby('install_date')['device_id']

In [80]:
df['purchase_date'] = df[df['event'] == 'purchase']['date']

In [100]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'])
df.install_date.unique()

array([                          'NaT', '2020-01-01T00:00:00.000000000',
       '2020-01-02T00:00:00.000000000', '2020-01-03T00:00:00.000000000',
       '2020-01-04T00:00:00.000000000', '2020-01-05T00:00:00.000000000',
       '2020-01-06T00:00:00.000000000', '2020-01-07T00:00:00.000000000',
       '2020-01-08T00:00:00.000000000', '2020-01-09T00:00:00.000000000',
       '2020-01-10T00:00:00.000000000', '2020-01-11T00:00:00.000000000',
       '2020-01-12T00:00:00.000000000', '2020-01-13T00:00:00.000000000',
       '2020-01-14T00:00:00.000000000', '2020-01-15T00:00:00.000000000',
       '2020-01-16T00:00:00.000000000', '2020-01-17T00:00:00.000000000',
       '2020-01-18T00:00:00.000000000', '2020-01-19T00:00:00.000000000',
       '2020-01-20T00:00:00.000000000', '2020-01-21T00:00:00.000000000',
       '2020-01-22T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2020-01-24T00:00:00.000000000', '2020-01-25T00:00:00.000000000',
       '2020-01-26T00:00:00.000000000', '2020-01-27T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-01-29T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-02-02T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-02-05T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-02-10T00:00:00.000000000',
       '2020-02-11T00:00:00.000000000', '2020-02-12T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2020-02-15T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-17T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-19T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-03-11T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [97]:
df[df['purchase_date'] - df['install_date'] < pd.Timedelta(days=7)]

Empty DataFrame
Columns: [date, event, purchase_sum, os_name, device_id, gender, city, utm_source, install_date, purchase_date]
Index: []

In [178]:
new_users_by_channel = df[df['event'] == 'app_start'].groupby('utm_source')['device_id'].nunique()
new_users_by_channel.sort_values

<bound method Series.sort_values of utm_source
-                52268
facebook_ads     25957
google_ads       38092
instagram_ads    31045
referal          15924
vk_ads           34079
yandex-direct    40707
Name: device_id, dtype: int64>

In [226]:
df['installation_date'] = df.groupby('device_id')['date'].transform(lambda x: x[x == 'app_install'].ffill())

In [237]:
df['purchase_date'] = df.groupby('device_id')['date'].transform(lambda x: x[x == 'purchase'].ffill())

In [243]:
df.date = pd.to_datetime(df.date)

In [257]:
installations = df[df['event'] == 'app_install'].groupby('device_id')['date'].max().reset_index()
purchases = df[df['event'] == 'purchase'].groupby('device_id')['date'].min().reset_index()

In [258]:
df = df.merge(installations, on='device_id', how='left', suffixes=('', '_install'))
df = df.merge(purchases, on='device_id', how='left', suffixes=('', '_purchase'))

In [263]:
df.query('device_id == 669460 and event == "app_install"')

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,date_install,date_purchase
2515662,2020-01-01,app_install,NaN,android,669460,female,Moscow,-,2020-01-01,2020-01-07

In [265]:
df['time_difference'] = (pd.to_datetime(df['date_purchase']) - pd.to_datetime(df['date_install'])).dt.days

In [290]:
df_seven_days = df.loc[df.time_difference < 7]
(df_seven_days.groupby('date')['device_id'].size() / df[df.event == 'app_install'].groupby('date')['device_id'].size()).sort_values()

date
2020-01-01     2.113160
2020-01-10     2.420876
2020-03-06     2.674269
2020-01-02     2.782443
2020-01-03     3.573272
                ...
2020-03-17    21.013921
2020-03-02    21.353201
2020-03-14    21.598194
2020-03-05    21.661800
2020-03-16    24.011111
Name: device_id, Length: 91, dtype: float64

In [293]:
df['install_date'] = df[df['event'] == 'app_install']['date']

In [302]:
df.install_date.nunique()

91

In [294]:
cohort_data = df.groupby('install_date').agg({'device_id': 'nunique', 'event': lambda x: (x == 'purchase').sum()})

In [296]:
cohort_data = df.groupby('install_date').agg({'device_id': 'nunique', 'event': lambda x: (x == 'purchase').sum()})

In [300]:
cohort_data.event.sort_values()

install_date
2020-01-01    0
2020-03-06    0
2020-03-05    0
2020-03-04    0
2020-03-03    0
             ..
2020-01-27    0
2020-01-26    0
2020-01-25    0
2020-01-23    0
2020-03-31    0
Name: event, Length: 91, dtype: int64

In [287]:
df.query('event == "purchase" & date == "2020-03-16" & time_difference < 7')

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,date_install,date_purchase,time_difference
2140427,2020-03-16,purchase,400.5,android,16877049,male,Moscow,facebook_ads,2020-03-16,2020-03-16,0.0
2140428,2020-03-16,purchase,98.5,android,20806,female,Moscow,facebook_ads,2020-01-02,2020-01-05,3.0
2140429,2020-03-16,purchase,636.0,ios,5493517,male,Moscow,-,2020-03-16,2020-03-16,0.0
2140430,2020-03-16,purchase,120.0,android,33276914,female,Moscow,google_ads,2020-01-29,2020-01-29,0.0
2140431,2020-03-16,purchase,124.5,android,4965365,female,Moscow,google_ads,2020-01-01,2020-01-06,5.0
...,...,...,...,...,...,...,...,...,...,...,...
2141245,2020-03-16,purchase,4311.0,android,33570097,female,Moscow,-,2020-03-15,2020-03-16,1.0
2141247,2020-03-16,purchase,2818.5,android,2031937,female,Moscow,instagram_ads,2020-01-13,2020-01-13,0.0
2141248,2020-03-16,purchase,7530.0,android,1346476,female,Saint-Petersburg,-,2020-03-13,2020-03-13,0.0
2141251,2020-03-16,purchase,2432.5,ios,1008203,male,Moscow,facebook_ads,2020-01-02,2020-01-04,2.0
2141252,2020-03-16,purchase,7544.5,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0

In [288]:
df[df.device_id == 3520269]

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,date_install,date_purchase,time_difference
1058559,2020-02-06,app_start,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
1064079,2020-02-06,choose_item,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
1068858,2020-02-06,search,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
1162489,2020-02-10,app_start,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
1164791,2020-02-10,choose_item,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
...,...,...,...,...,...,...,...,...,...,...,...
2505333,2020-03-31,choose_item,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
2508617,2020-03-31,search,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
2514644,2020-03-31,tap_basket,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
2603014,2020-02-06,app_install,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0
2721079,2020-02-12,register,NaN,android,3520269,female,Moscow,google_ads,2020-02-06,2020-02-12,6.0

In [197]:
# ÐÐ¾Ð±Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ñ Ð´Ð°ÑÐ¾Ð¹ ÑÐµÐ³Ð¸ÑÑÑÐ°ÑÐ¸Ð¸
df.loc[df['event'] == 'register', 'registration_date'] = df.loc[df['event'] == 'register', 'date']
df['registration_date'] = df.groupby('device_id')['registration_date'].ffill()

# ÐÑÐ´ÐµÐ»ÐµÐ½Ð¸Ðµ Ð³ÑÑÐ¿Ð¿ Ð·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÑ Ð¸ Ð½ÐµÐ·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÑ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹
registered_users = df[df['registration_date'] < df['date']]
unregistered_users = df[df['registration_date'] >= df['date']]

# ÐÐ¾Ð´ÑÑÐµÑ ÐºÐ¾Ð»Ð¸ÑÐµÑÑÐ²Ð° Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹ Ð½Ð° ÐºÐ°Ð¶Ð´Ð¾Ð¼ ÑÑÐ°Ð¿Ðµ Ð²Ð¾ÑÐ¾Ð½ÐºÐ¸ Ð´Ð»Ñ Ð¾Ð±ÐµÐ¸Ñ Ð³ÑÑÐ¿Ð¿
registered_funnel = registered_users.groupby('event').size()
unregistered_funnel = unregistered_users.groupby('event').size()

# Ð Ð°ÑÑÑÐµÑ ÐºÐ¾Ð½Ð²ÐµÑÑÐ¸Ð¸ Ð¼ÐµÐ¶Ð´Ñ ÑÑÐ°Ð¿Ð°Ð¼Ð¸ Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð¹ Ð³ÑÑÐ¿Ð¿Ñ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹
registered_conversion = registered_funnel / registered_funnel.shift(1)
unregistered_conversion = unregistered_funnel / unregistered_funnel.shift(1)

# ÐÐ¿ÑÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ðµ ÑÐ°Ð³Ð° Ñ ÑÐ°Ð¼Ð¾Ð¹ Ð½Ð¸Ð·ÐºÐ¾Ð¹ ÐºÐ¾Ð½Ð²ÐµÑÑÐ¸ÐµÐ¹ Ð´Ð»Ñ Ð·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÑ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹
lowest_conversion_step = registered_conversion.idxmin()
print("ÐÐ°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÐµ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ð¸:")
print(registered_funnel)
print("ÐÐ¾Ð½Ð²ÐµÑÑÐ¸Ñ Ð¼ÐµÐ¶Ð´Ñ ÑÑÐ°Ð¿Ð°Ð¼Ð¸:")
print(registered_conversion)
print("Ð¨Ð°Ð³ Ñ Ð½Ð°Ð¸Ð¼ÐµÐ½ÑÑÐµÐ¹ ÐºÐ¾Ð½Ð²ÐµÑÑÐ¸ÐµÐ¹ Ð´Ð»Ñ Ð·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÑ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹:", lowest_conversion_step)
print()
print("ÐÐµÐ·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÐµ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ð¸:")
print(unregistered_funnel)
print("ÐÐ¾Ð½Ð²ÐµÑÑÐ¸Ñ Ð¼ÐµÐ¶Ð´Ñ ÑÑÐ°Ð¿Ð°Ð¼Ð¸:")
print(unregistered_conversion)

ÐÐ°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÐµ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ð¸:
event
app_start      557821
choose_item    398165
purchase        95333
search         527322
tap_basket     275611
dtype: int64
ÐÐ¾Ð½Ð²ÐµÑÑÐ¸Ñ Ð¼ÐµÐ¶Ð´Ñ ÑÑÐ°Ð¿Ð°Ð¼Ð¸:
event
app_start           NaN
choose_item    0.713786
purchase       0.239431
search         5.531369
tap_basket     0.522662
dtype: float64
Ð¨Ð°Ð³ Ñ Ð½Ð°Ð¸Ð¼ÐµÐ½ÑÑÐµÐ¹ ÐºÐ¾Ð½Ð²ÐµÑÑÐ¸ÐµÐ¹ Ð´Ð»Ñ Ð·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÑ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹: purchase

ÐÐµÐ·Ð°ÑÐµÐ³Ð¸ÑÑÑÐ¸ÑÐ¾Ð²Ð°Ð½Ð½ÑÐµ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ð¸:
event
app_install    154597
app_start      190884
choose_item    140504
purchase        46050
register        78310
search         181317
tap_basket     102054
dtype: int64
ÐÐ¾Ð½Ð²ÐµÑÑÐ¸Ñ Ð¼ÐµÐ¶Ð´Ñ ÑÑÐ°Ð¿Ð°Ð¼Ð¸:
event
app_install         NaN
app_start      1.234720
choose_item    0.736070
purchase       0.327749
register       1.700543
search         2.315375
tap_basket     0.562848
dtype: float64

In [203]:
conversion_rates = df[df['event'] == 'purchase'].groupby('utm_source')['device_id'].nunique() / df[df['event'] == 'app_start'].groupby('utm_source')['device_id'].nunique()
lowest_conversion_channel = conversion_rates.idxmin()
lowest_conversion_channel

'yandex-direct'

In [201]:
df[df['event'] == 'purchase'].groupby('utm_source')['device_id'].nunique()

utm_source
-                16598
facebook_ads      9017
google_ads       11339
instagram_ads    10762
referal           6362
vk_ads           12364
yandex-direct    12028
Name: device_id, dtype: int64

In [202]:
df[df['event'] == 'app_open'].groupby('utm_source')['device_id'].nunique()

Series([], Name: device_id, dtype: int64)

In [208]:
first_purchase = df[df['event'] == 'purchase'].groupby('device_id').first()
median_purchase = first_purchase.groupby('utm_source')['purchase_sum'].median()
highest_median_channel = median_purchase.idxmax()

In [210]:
median_purchase

utm_source
-                398.5
facebook_ads     389.0
google_ads       390.5
instagram_ads    393.5
referal          395.5
vk_ads           393.0
yandex-direct    392.5
Name: purchase_sum, dtype: float64

In [211]:
revenue = df[df['event'] == 'purchase'].groupby('utm_source')['purchase_sum'].sum()

In [212]:
revenue

utm_source
-                21449749.5
facebook_ads     12249901.0
google_ads       12868276.0
instagram_ads    14546969.0
referal           8837044.5
vk_ads           16389652.5
yandex-direct    13915368.0
Name: purchase_sum, dtype: float64

In [214]:
13915368 / 10491707

1.3263206835646477

In [215]:
12868276/10534878

1.221492645667088

In [216]:
12249901/8590498

1.4259826380263403

In [217]:
14546969/8561626

1.6990895187432855

In [218]:
16389652/9553531

1.7155596187420128